@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  body{
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    font-family: Poppins;
  }
  .toggle-btn{
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent
  }
  .side-bar{
    animation: sidebar 0.5s linear;
  }

  @keyframes sidebar {
    0%{ width: 0;}
    25%{width: 25%;}
    50%{width: 35%;}
    75%{width: 60%;}
    100%{width: 80%;}

  }

  .gradient-background {
    background: linear-gradient(300deg, #8e8ffa, #7752fe, #190482);
    background-size: 180% 180%;
    animation: gradient-animation 8s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .pattern-background{
    background: url("./assets/images/pattern(4).svg");
  }

  .hero-page{
    background: url("./image/marine3.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     min-height: 100vh;
     
}

.contact-form{
    border: 2px solid black;
}
.about-container{
  height: auto;
}
.text-shadow{
  text-shadow: 2px 2px 6px #3c38a1;
}

.skill-card{
  box-shadow:2px 2px 4px 5px #e80ed6, -2px -2px 4px 5px #e80ed6;
  /* -webkit-filter:drop-shadow(2px 2px 4px 5px #e80ed6, -2px -2px 4px #e80ed6);
  -moz-filter:drop-shadow(2px 2px 4px 5px #e80ed6, -2px -2px 4px #e80ed6);
  -o-filter:drop-shadow(2px 2px 4px 5px #e80ed6, -2px -2px 4px #e80ed6); */
  transition:all 0.5s ease-in-out;
  animation: skill 0.5s ease-in-out infinite ;
}
.skill-card:hover{
  transform: scale(1.2, 1.2);
}

@keyframes skill{
  0%{box-shadow:2px 2px 4px 5px #e80ed6, -2px -2px 4px 5px #e80ed6 ;}
  50%{box-shadow:2px 2px 4px 5px skyblue, -2px -2px 4px 5px skyblue ;}
  75%{box-shadow:2px 2px 4px 5px #ef8172, -2px -2px 4px 5px #ef8172 ;}
  100%{box-shadow:2px 2px 4px 5px #e80ed6, -2px -2px 4px 5px #e80ed6 ;}
}

.modal-container{
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header{
  z-index: 200;
}
.togglebtn{
  z-index:300;
}

.parallax{
  background: url('./image/marine5.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
  -webkit-object-fit: cover;
  -webkit-background-size: cover;
  -webkit-background-attachment: fixed;
 -moz-background-size: cover;
  -moz-background-attachment: fixed;

}
.parallax3{
  background: url('./image/marine7.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  background-attachment: fixed;
  object-fit: cover;
  -webkit-object-fit: cover;
  -webkit-background-size: cover;
  -webkit-background-attachment: fixed;
 -moz-background-size: cover;
  -moz-background-attachment: fixed;
}
.skills-bg{
  background: url('./image/marine6.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  background-attachment: fixed;
  object-fit: cover;
  -webkit-object-fit: cover;
  -webkit-background-size: cover;
  -webkit-background-attachment: fixed;
 -moz-background-size: cover;
  -moz-background-attachment: fixed;
  margin-top: 8px;
}

.carousel{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  margin-top: -80px;
}


.carousel .list .item{
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
 
}
.carousel .list .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel .list .item .content{
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 40%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .work{
  font-weight: bold;
  letter-spacing: 10px;
}
.carousel .list .item .firstname,
.carousel .list .item .lastname{
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
  color: #f1683a ;
}
.carousel .list .item .work{
  font-size: 2em;
  font-weight: bold;

}
.carousel .list .item .buttons{
  margin-top: 20px;

}
.carousel .list .item .buttons button{
  border: none;
  background-color: #f1683a;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
}

/* thumbail */
.thumbnail{
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail .item:nth-child(1){
  order:6;
}
.thumbnail .item{
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content{
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 5px;
  right: 10px;
}
.thumbnail .item .content .title{
  font-weight: 500;
}
.thumbnail .item .content .description{
  font-weight: 100;
}

/* arrows */
.arrows{
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.arrows button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: .5s;
}
.arrows button:hover{
  background-color: #fff;
  color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
  z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .firstname,
.carousel .list .item:nth-child(1) .content .lastname,
.carousel .list .item:nth-child(1) .content .work,
.carousel .list .item:nth-child(1) .content .quote,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.carousel .list .item:nth-child(1) .content .firstname{
  animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .lastname{
  animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .work{
  animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .quote{
  animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
  animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel .list.next .item:nth-child(1) img{
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
  to{
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
  }
}

.carousel .thumbnail.next .item:nth-last-child(1){
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}
.carousel .list.prev .item img{
  z-index: 100;
}
@keyframes showThumbnail{
  from{
      width: 0;
      opacity: 0;
  }
}
.carousel .thumbnail.next{
  animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
  from{
      transform: translateX(150px);
  }
}
.carousel .time{
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #f1683a;
  left: 0;
  top: 0;
}

.carousel.next .time.next,
.carousel.next .time.prev{
  animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
  from{ width: 100%}
  to{width: 0}
}


/* prev click */

.carousel .list.prev .item:nth-child(2){
  z-index: 2;
}
.carousel .list.prev .item:nth-child(2) img{
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame{
  to{
      width: 150px;
      height: 220px;
      bottom: 30px;
      left: 50%;
      border-radius: 20px;
  }
}

.carousel .thumbnail.prev .item:nth-child(2){
  overflow: hidden;
  opacity: 0;
  animation: showNextThumbnail .5s linear 1 forwards;
}
@keyframes showNextThumbnail{
  from{
      width: 0;
      opacity: 0;
  }
}

.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel .list.prev .item:nth-child(2) .content .firstname,
.carousel .list.prev .item:nth-child(2) .content .lastname,
.carousel .list.prev .item:nth-child(2) .content .work,
.carousel .list.prev .item:nth-child(2) .content .quote,
.carousel .list.prev .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@media screen and (max-width: 678px) {
  
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .firstname,
    .carousel .list .item .content .lastname{
        font-size: 30px;
    }
    .carousel .list .item .content .work{
      font-size: 24px ;
    }

}

@media (orientation: landscape) {
  .carousel .list .item .content{
    padding-right: 0;
}
.carousel .list .item .content .firstname,
.carousel .list .item .content .lastname{
    font-size: 30px;
}
.carousel .list .item .content .work{
  font-size: 24px ;
}
}


}
